*{
    padding: 0;
    margin: 0;
}

.bookSize{
    margin-bottom: 10px;
    width: 100px;
}

.content {
    display: flex;           
    flex-direction: row;    
    gap: 20px;             
}
.template {
    display: flex;          
    flex-direction: column;
    align-items: center;    
    gap: 10px;               
    padding: 10px;
    border: 1px solid #ccc;  
    border-radius: 8px;
}