*{
    padding: 0;
    margin: 0;
}

.bookSize{
    margin-bottom: 10px;
    width: 100px;
}

.content {
    display: flex;           
    flex-direction: row;    
    gap: 20px;             
}
.template {
    display: flex;          
    flex-direction: column;
    align-items: center;    
    gap: 10px;               
    padding: 10px;
    border: 1px solid #ccc;  
    border-radius: 8px;
}



.containerToggle {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}


.toggle {
    width: 50px;
    height: 20px;
    background: rgb(8, 0, 15);
    border-radius: 55px;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: background 0.3s ease;
}


.toggle-btn {
    width: 18px;
    height: 16px;
    background: rgb(89, 89, 223);
    border-radius: 25px;
    transition: transform 0.3s ease;
}


.toggle.active {
    background: whitesmoke;
}

.toggle.active .toggle-btn {
    transform: translateX(25px);
}

